body {
  text-align: center;
  line-height: 1.5em;
}

h1 {
  text-transform: uppercase;
}

#container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
}

#employee {
  flex-basis: 20%;
  margin: 0 2%;
}

#headshot {
  width: 100%;
}

#name {
  text-transform: uppercase;
  border-bottom: 2px solid #6DBF92;
  font-size: 1.1em;
  line-height: 1.6em;
  font-weight: bold;
}

#email {
  text-transform: uppercase;
  color: grey;
}
